<div class="tab-content hidden" id="finance">
        <div class="card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'cogolin.jpg' %>');">
          <div class="card-description">
            <h2><a class="tab" data-target="#finance" href="#finance" >Conseils Financiers</a></h2>
          </div>
        </div>
 <h2>Finance</h2>
 <article id="wpex20">
    <label for="an20"><div class="plus">Tenue de comptabilité</div></label>
      <input class="exp-details" id="an20" type="checkbox">
    <div style="display: none;">
      <p>Service complet et modulable. Chez nous, chez vous, par internet, scan… Plusieurs possibilités sont envisageables.</p>
    </div>
  </article>
  <article id="wpex21">
   <label for="an21"><div class="plus"> TVA & Taxes </div> </label>
    <input class="exp-details" id="an21" type="checkbox">
    <div style="display: none;">
      <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
    </div>
  </article>
  <article id="wpex26">
    <div><label for="an26"><div class="plus">Révision & Situations </div> </label></div>
      <input class="exp-details" id="an26" type="checkbox">
      <div style="display: none;">
        <p>Nous assurons la conformité vis-à- vis des règles légales et une image fidèle
de la réalité de votre entité.</p>
      </div>
  </article>
  <article id="wpex27">
    <div><label for="an27"><div class="plus"> Comptes annuels</div> </label></div>
    <input class="exp-details" id="an27" type="checkbox">
    <div style="display: none;">
      <p> Nous assurons la conformité vis-à- vis des règles légales et de l’image fidèle
de la réalité de votre entité de vos comptes annuels.</p>
    </div>
  </article>
</div>
