<div class="tab-content hidden" id="finance">
        <div class="card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'cogolin.jpg' %>');">
          <div class="card-description">
            <h2><a class="tab" data-target="#finance" href="#finance" >Conseils Financiers</a></h2>
          </div>
        </div>
 <h2>Finance</h2>
 <article id="wpex20">
    <label for="an20"><div class="plus">Search for financing</div></label>
      <input class="exp-details" id="an20" type="checkbox">
    <div style="display: none;">
      <p>Based on the needs identified in a business plan, we support you in the search for financing.</p>
    </div>
  </article>
  <article id="wpex21">
   <label for="an21"><div class="plus"> Aid & Subsidy </div> </label>
    <input class="exp-details" id="an21" type="checkbox">
    <div style="display: none;">
      <p>Separately from the search for financing previously carried out, we look at what aids and subsidies can be appropriate for your situation.
</p>
    </div>
  </article>
  <article id="wpex26">
    <div><label for="an26"><div class="plus">Long term asset strategy </div> </label></div>
      <input class="exp-details" id="an26" type="checkbox">
      <div style="display: none;">
        <p>We can help you find possible partnerships that can be adapted to your development.
</p>
      </div>
  </article>
  <article id="wpex27">
    <div><label for="an27"><div class="plus"> Financing stategy</div> </label></div>
    <input class="exp-details" id="an27" type="checkbox">
    <div style="display: none;">
      <p> Depending on your activity, past observations and forecasts, we assist you in optimizing cash management.
</p>
    </div>
  </article>
</div>
