<div class="tab-content hidden" id="gestion">
 <h2>Prévisions</h2>
 <article id="wpex30">
    <label for="an30"><div class="plus">Tenue de comptabilité</div></label>
      <input class="exp-details" id="an30" type="checkbox">
    <div style="display: none;">
      <p>Service complet et modulable. Chez nous, chez vous, par internet, scan… Plusieurs possibilités sont envisageables.</p>
    </div>
  </article>
  <article id="wpex31">
   <label for="an31"><div class="plus"> TVA & Taxes </div> </label>
    <input class="exp-details" id="an31" type="checkbox">
    <div style="display: none;">
      <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
    </div>
  </article>
  <article id="wpex36">
    <div><label for="an36"><div class="plus"> Business Model</div> </label></div>
      <input class="exp-details" id="an36" type="checkbox">
      <div style="display: none;">
        <p>Nous élaborons avec vous les principaux paramètres qui peuvent conduire votre projet à une réalité, qu’il soit une création ou une adjonction ou diversification des activités.
</p>
      </div>
  </article>
  <article id="wpex37">
    <div><label for="an37"><div class="plus"> Business Plan</div> </label></div>
    <input class="exp-details" id="an37" type="checkbox">
    <div style="display: none;">
      <p> Une fois le « Business model » réalisé et/ou avant chaque début d’exercice, nous élaborons un « business plan » annuel ou pluriannuel simple accessible et compréhensible.
<li>Prévisionnel annuel + seuil rentabilité : Nous préconisons et vous assistons dans la confection avant chaque début d’exercice d’un prévisionnel annuel avec les principaux paramètres d’alerte et vigilance comme le seuil de rentabilité.</li>
<li>rentabilité : Déterminé en fonction des différentes hypothèses, nous pouvons vous aider à mettre en place les indicateurs de rentabilité annuelle ou mensuelle.</li>
<li>Plan trésorerie : En fonction d’un « business plan », nous élaborons une approche de la trésorerie annuellele.</li></p>
    </div>
    </article>
    <h2>Tableau de bord</h2>
      <article id="wpex38">
    <div><label for="an38"><div class="plus"> Exploitation</div> </label></div>
    <input class="exp-details" id="an38" type="checkbox">
    <div style="display: none;">
      <p> Grâce au « business plan » que nous avons réalisé avec vous, nous sommes à même de vous proposer un suivi régulier par mois de votre activité.</p>
    </div>
    </article>
      <article id="wpex39">
    <div><label for="an39"><div class="plus"> Trésorerie</div> </label></div>
    <input class="exp-details" id="an39" type="checkbox">
    <div style="display: none;">
      <p> En fonction des résultats du tableau de bord de votre exploitation : nous pouvons élaborer une prévision de trésorerie pour les trois à six mois qui viennent.</p>
    </div>
    </article>
    <h2>Etude Particulière</h2>
      <article id="wpex32">
    <div><label for="an32"><div class="plus"> Prix de revient</div> </label></div>
    <input class="exp-details" id="an32" type="checkbox">
    <div style="display: none;">
      <p> Grâce à la maîtrise éléments de gestion, nous sommes à même de déterminer avec vous les prix de revient les plus adaptés qui vous permettent, en fonction des circonstances, de suivre vos réalisations et surtout de vous positionner sur des marchés de façon justifiée.</p>
    </div>
    </article>

</div>
