<div class="tab-content hidden" id="gestion">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'cockpit.jpg' %>');">
          <div class="card-description">
            <h2><a class="tab" data-target="#gestion" href="#gestion">Conseils en Management </a></h2>
          </div>
        </div>
 <h2>Forecast</h2>

  <article id="wpex360">
    <div><label for="an360"><div class="plus"> Business Model</div> </label></div>
      <input class="exp-details" id="an360" type="checkbox">
      <div style="display: none;">
        <p>We develop the main parameters that can lead your project to a reality, whether your project is a creation, an addition or diversification of activities.

</p>
      </div>
  </article>
  <article id="wpex370">
    <div><label for="an370"><div class="plus"> Business Plan</div> </label></div>
    <input class="exp-details" id="an370" type="checkbox">
    <div style="display: none;">
      <p> Once the Business model is achieved and/or before each beginning of the fiscal year, we prepare an annual or multi-annual business plan that is accessible and comprehensible.
<div class="alinea">
<b>Annual forecasts and profitability threshold:</b> Before the beginning of each fiscal year, we advocate and assist you in the preparation of an annual forecast with the main parameters of alert and vigilance, like the profitability threshold..<br/><br/>
<b>Profitability threshold:</b> Determined according to different hypotheses, we can help you set up indicators of annual or monthly profitability.<br/><br/>
<b>Treasury plans: </b> Based on a business plan, we develop an approach to annual cash flow.</div>
    </div>
    </article>
    <h2>Dashboard</h2>
      <article id="wpex380">
    <div><label for="an380"><div class="plus"> Exploitation</div> </label></div>
    <input class="exp-details" id="an380" type="checkbox">
    <div style="display: none;">
      <p> Thanks to the Business Plan we realised with you, we are able to offer you a regular monthly follow-up of your activity..</p>
    </div>
    </article>
      <article id="wpex390">
    <div><label for="an390"><div class="plus"> Treasury</div> </label></div>
    <input class="exp-details" id="an390" type="checkbox">
    <div style="display: none;">
      <p> Based on the results of the dashboard of your operation: we can develop a cash flow forecast for the next three to six months..</p>
    </div>
    </article>
    <h2>Specific study</h2>
      <article id="wpex320">
    <div><label for="an320"><div class="plus"> Cost Price</div> </label></div>
    <input class="exp-details" id="an320" type="checkbox">
    <div style="display: none;">
      <p> Thanks to the mastery of areas of management, we are in a position to determine with you the most suitable cost prices that allow you, depending on the circumstances, to follow your achievements and especially to position yourself correctly on the markets.</p>
    </div>
    </article>

</div>
