<div class="header">
  <div class="content-header">
    <div class="logo">
      <p><% link_to '#index' do %>
          <%= image_tag 'favicon.png', style:'width: 150px;' %>
          <% end %>
      </p>
    </div>
    <div class="menu">
      <p><a href="#service"> <h5>Services </h5></a></p>
      <br/>
      <p><a href="#sainttropez"> <h6>Saint Tropez </h6></a></p>
      <p><a href="#paris"> <h6>Paris </h6></a></p>
      <p><a href="#marseille"><h6> Marseille </h6></a></p>
      <p><a href="#cogolin"><h6> Cogolin</h6> </a></p>
    </div>
    <% link_to "index" do%>
      <%= image_tag 'france.png', class: 'flag' %>
    <% end %>
    <div class="france-defi">
      <p>Member of the group: </p>
        <% link_to 'https://www.francedefi.fr', target:"_blank" do %>
          <%= image_tag 'fd-logo.png', style:'height:50px;', class: 'fdi'  %>
        <% end  %>
    </div>
  </div>
</div>
