<div class="tab-content hidden" id="juridique">

<br/>
    <center><%= image_tag 'auction.png', class: "img-main" %>
  <h2>Legal</h2>
  <p>Our masters in business law can provide legal assistance for your projects.</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'idea.png', class: "img-usp" %><br/>Expert</div>
  <div><%= image_tag 'like.png', class: "img-usp" %><br/>Simple</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Reliable</div>
  </div>
  </center>
  <br/><br/>

  <!-- Large modal -->
<center><a type="button" class="more" data-toggle="modal" data-target=".legal">Learn more about our legal expertise</a></center>

<div class="modal fade legal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

       <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <h2>Legal</h2>
     <article id="wpex31">
        <label for="an31"><div class="plus"> Legal Assistance</div></label>
          <input class="exp-details" id="an31" type="checkbox">
        <div style="display: none;">
          <p>In addition to our other missions, our legal team is able to provide you with the most appropriate services.
</p>
        </div>
      </article>
      <article id="wpex32">
       <label for="an32"><div class="plus">Ordinary Annual General meeting </div> </label>
        <input class="exp-details" id="an32" type="checkbox">
        <div style="display: none;">
          <p>Beyond its regularity, we take the opportunity to do each year a general diagnosis of your file with you.

</p>
        </div>
      </article>
      <article id="wpex30">
        <div><label for="an30"><div class="plus"> Distribution of dividends </div> </label></div>
          <input class="exp-details" id="an30" type="checkbox">
          <div style="display: none;">
            <p>We can help optimize, depending on your situation and that of the entity, the best choices and to anticipate tax and the cash flowing.</p>
          </div>
      </article>
      <h2>other legal tasks</h2>
      <article id="wpex33">
        <div><label for="an33"><div class="plus"> Society creation</div> </label></div>
        <input class="exp-details" id="an33" type="checkbox">
        <div style="display: none;">
          <p> After having received and understood your “Business Model”, having mastered your “Business Plan”, we advise you on the best status to choose. We can also advise you on the best options with their legal, social and fiscal consequences.

</p>
        </div>
      </article>
      <article id="wpex34">
        <label for="an34"><div class="plus"> Modifications </div> </label>
        <input class="exp-details" id="an34" type="checkbox">
        <div style="display: none;">
        <p> Head office, direction, periodic statutes or on demand—we can provide advice and arrange the necessary formalities.
</p>
        </div>
      </article>

      <article id="wpex35">
        <div><label for="an35"><div class="plus">Changing social and fiscal form </div></label></div>
        <input class="exp-details" id="an35" type="checkbox">
        <div style="display: none;">
          <p>As a continuation of our other missions, we offer the adaptation, realization and administration of the most optimized legal, social and fiscal process of your entity.
        </div>
      </article>

      <article id="wpex36">
        <div><label for="an36"><div class="plus"> Transfer of shares </div> </label></div>
        <input class="exp-details" id="an36" type="checkbox">
        <div style="display: none;">
          <p>We take care of all the formalities, accompanied, of course, of the guarantee of liabilities, to ensure that the transfer of share is simple and without any risk.
</p>
        </div>
      </article>
<h2>Other operation</h2>
      <article id="wpex37">
        <div><label for="an37"><div class="plus">Business acquisition & disposal </div> </label></div>
        <input class="exp-details" id="an37" type="checkbox">
        <div style="display: none;">
          <p>We can support you, simultaneously in terms of management of opportunities, appropriate tax analyzes and the negotiation and drafting of the various acts, in order to ensure a reliable transcription of the agreements.
</p>
        </div>
      </article>
      <article id="wpex38">
       <label for="an38"><div class="plus">Business & Leasehold rights (acquisition or  disposal)</div></label>
        <input class="exp-details" id="an38" type="checkbox">
        <div style="display: none;">
          <p> Thanks to close partnerships with our lawyers (or yours), we are able to ensure, in strict compliance with the obligations of delays, the excellent execution of the acts of disposal of business or commerce.
Siège, direction, statuts périodiquement ou à la demande, nous nous chargeons des formalités nécessaires.</p>
        </div>
      </article>

      <article id="wpex39">
        <div><label for="an39"><div class="plus">Group convention management fees treasury agreement</div></label>
        <input class="exp-details" id="an39" type="checkbox">
        <div style="display: none;">
          <p>With our knowledge of your legal, accounting and administrative file, our team of lawyers is able to propose and monitor the proper application of agreements between the different companies in your group, whether commercial or financial.</p>
        </div>
      </article>

      <article id="wpex40">
        <div><label for="an40"><div class="plus"> Commercial lease</div></label></div>
        <input class="exp-details" id="an40" type="checkbox">
        <div style="display: none;">
          <p>We are able to analyze, optimize, and above all follow the sensitive deadlines thanks to our database.
          </p>
        </div>
      </article>

      <article id="wpex41">
        <div><label for="an41"><div class="plus">Analysing & montoring contracts </div> </label></div>
        <input class="exp-details" id="an41" type="checkbox">
        <div style="display: none;">
          <p>Analysis and monitoring of contracts: We are able to make a more thorough analysis with our lawyer or yours.
</p>
        </div>
      </article>
      <article id="wpex42">
       <label for="an42"><div class="plus">Assiociate pact</div></label>
        <input class="exp-details" id="an42" type="checkbox">
        <div style="display: none;">
          <p> We are able to offer you pacts between your associates and yourself. This ensures you that the conduct and practice is consistent throughout the life of the company even in the event of a departure.</p>
        </div>
      </article>
      <article id="wpex43">
       <label for="an43"><div class="plus">Convention de groupe (m.fees, trésorerie)</div></label>
        <input class="exp-details" id="an43" type="checkbox">
        <div style="display: none;">
          <p> Notre cabinet ayant une connaissance de votre dossier comptable et administratif, notre équipe de juriste est à même de vous proposer et surveiller la bonne application des conventions entre les différentes sociétés de votre groupe qu’elle soit commerciale ou financière.</p>
        </div>
      </article>
      <article id="wpex44">
       <label for="an44"><div class="plus">Trademarks and patents</div></label>
        <input class="exp-details" id="an44" type="checkbox">
        <div style="display: none;">
          <p> We can accompany you in the filing of trademarks and patents and manage the relationship with the technical office.
</p>
        </div>
      </article>
      <article id="wpex45">
       <label for="an45"><div class="plus">CNIL compliance</div></label>
        <input class="exp-details" id="an45" type="checkbox">
        <div style="display: none;">
          <p> We can take care of the compliance of your information system with the regulatory obligations of the CNIL.
</p>
        </div>
      </article>

</div>
</div></div></div>


