<div class="tab-content hidden" id="rh">

<br/>
    <center><%= image_tag 'network.png', class: "img-main" %>
  <h2>Human Ressources</h2>
  <p>From contracts to IT Charter, our experts can assist you.</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'online-shop.png', class: "img-usp" %><br/>Outil digital</div>
  <div><%= image_tag 'auction.png', class: "img-usp" %><br/>Expertise légale</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Solutions adaptées</div>
  </div>
  </center>
  <br/><br/>

  <!-- Large modal -->
<center><a type="button" class="more" data-toggle="modal" data-target=".rht">Learn more about our HR expertise</a></center>

<div class="modal fade rht" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

       <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h2>Human Ressources</h2>
 <article id="wpex50">
    <label for="an50"><div class="plus">Unique Document</div></label>
      <input class="exp-details" id="an50" type="checkbox">
    <div style="display: none;">
      <p>We help you make and maintain the latter in order to anticipate and protect the entity and its leader from the consequences of an accident.
</p>
    </div>
  </article>
  <article id="wpex51">
   <label for="an51"><div class="plus"> Annual assessment interview
 </div> </label>
    <input class="exp-details" id="an51" type="checkbox">
    <div style="display: none;">
      <p>We can ensure the establishment of the assessment interviews and the function sheet corresponding to the organization chart of your entity.
    </div>
  </article>
  <article id="wpex52">
    <div><label for="an52"><div class="plus">Training plan</div> </label></div>
      <input class="exp-details" id="an52" type="checkbox">
      <div style="display: none;">
        <p> We can ensure the establishment of the professional maintenance grids and the function sheets corresponding to your company-specific organizational structure.</p>
      </div>
  </article>
  <article id="wpex53">
    <div><label for="an53"><div class="plus"> Company Bylaws and it charters</div> </label></div>
    <input class="exp-details" id="an53" type="checkbox">
    <div style="display: none;">
      <p> We can ensure the appropriate implementation and periodic review of:


The Company Bylaws, in order to ensure the dissemination of a code of conduct,

The IT Charter
</p>
    </div>
  </article>
   <article id="wpex54">
    <label for="an54"><div class="plus">Elections</div></label>
      <input class="exp-details" id="an54" type="checkbox">
    <div style="display: none;">
      <p>We ensure the proper conduct and compliance of procedures in the various elections of employee representatives to which your company is subject.
</p>
    </div>
  </article>
  <article id="wpex55">
   <label for="an55"><div class="plus"> Employee saving & compensation policy</div> </label>
    <input class="exp-details" id="an55" type="checkbox">
    <div style="display: none;">
      <p>We can accompany you to determine the best remuneration or various benefits policies, in order to optimize the satisfaction of your employees and to minimize the social charges and the taxation induced.</p>
    </div>
  </article>
  <article id="wpex56">
    <div><label for="an56"><div class="plus">Health at work</div> </label></div>
      <input class="exp-details" id="an56" type="checkbox">
      <div style="display: none;">
        <p>Within the framework of the various obligations, we can help you implement the various mandatory measures that protect your company from infringements and allow it to have an exemplary and positive social responsibility.
</p>
      </div>
  </article>
  <article id="wpex57">
    <div><label for="an57"><div class="plus"> Social audit</div> </label></div>
    <input class="exp-details" id="an57" type="checkbox">
    <div style="display: none;">
      <p> We carry out, in agreement with you, a social audit with an emphasis on suitable indicators.
</p>
    </div>
  </article>
</div></div></div></div>
