<div class="tab-content hidden" id="social">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'marseille.jpg' %>');">
          <div class="card-description">
            <h2><a class="tab" data-target="#social" href="#social">Conseils social</a></h2>
          </div>
        </div>
 <h2>Paie</h2>
 <article id="wpex63">
    <label for="an63"><div class="plus">Bulletins</div></label>
      <input class="exp-details" id="an63" type="checkbox">
    <div style="display: none;">
      <p>De façon souple (mail, internet), nous réalisons nos diligences rapidement.
</p>
    </div>
  </article>
  <article id="wpex64">
   <label for="an64"><div class="plus">Contract & amendment</div> </label>
    <input class="exp-details" id="an64" type="checkbox">
    <div style="display: none;">
      <p>We can help you find the best adaptations corresponding to your situation while avoiding pitfalls, and this in relation to our lawyers .
</p>
    </div>
  </article>
  <article id="wpex65">
    <div><label for="an65"><div class="plus">Disciplinary measures</div> </label></div>
      <input class="exp-details" id="an65" type="checkbox">
      <div style="display: none;">
        <p>We can assist you in the actual analysis of the situation (with the determination of the strengths and weaknesses) and help you to put in place the most adapted solution.</p>
      </div>
  </article>
 <h2>Droit du travail</h2>
 <article id="wpex60">
    <label for="an60"><div class="plus">Social security Charges</div></label>
      <input class="exp-details" id="an60" type="checkbox">
    <div style="display: none;">
      <p>Our aim is to systematically optimize the situation of your entity.
</p>
    </div>
  </article>
  <article id="wpex61">
   <label for="an61"><div class="plus"> Reports</div> </label>
    <input class="exp-details" id="an61" type="checkbox">
    <div style="display: none;">
      <p>Our preparation for social control minimizes the risks. We can ensure the conduct of the audit.</p>
    </div>
  </article>
  <article id="wpex62">
    <div><label for="an62"><div class="plus">Severance</div> </label></div>
      <input class="exp-details" id="an62" type="checkbox">
      <div style="display: none;">
      <div class="alinea"> <p>Layoffs and resignations: We can help you ensure that, both in the form and on the consistency of the file, you are covered to the maximum


Contractual termination: We can assist you and ensure the formality of the file.
Transaction: We ensure—with the best adaptations—the conventions to put a definitive end to a conflict.</p>
      </div></div>
  </article>

</div>
